.contents
  = render 'chats/left_column'
  .contents--right
    .group-info
      .group-info__name
        = @group.name
      .group-info__members
        = get_members_string_by_group(@group)
      .group-info__edit-btn
        = link_to "Edit", edit_group_path(@group.id)
    %ul.message-list
      - @group.messages.each do |message|
        %li.message-list__item
          .message-list__item--header
            %span.username
              = message.user.name
            %span.date
              = get_japanese_datetime_by_datetime(message.created_at)
          .message-list__item--body
            %p.text
              = message.message
    .message-input
      = form_for [@group, @message], html: { class: "message-input__new_message" } do |f|
        = f.text_field :message, placeholder: "type a message", class: "message-input__new_message--textarea", size: "90"
        %i.message-input__new_message--select-pic.fa.fa-picture-o.fa-lg
        = f.submit "Send", class: "message-input__new_message--submit-btn"
