.contents
  .contents--left
    .users-content
      .users-content--name
        = current_user.name
      %ul.users-control-list
        %li.users__control-list__item
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o.fa-lg
        %li.users-control-list__item
          = link_to edit_user_registration_path do
            %i.fa.fa-cog.fa-lg
        %li.users-control-list__item
          = link_to destroy_user_session_path do
            %i.fa.fa-sign-out.fa-lg
    %ul.group-list
      - @groups.each do |g|
        %li.group-list__item
          .group-list__item--name
            = link_to g.name, group_path(g)
          .group-list__item--recent-message
            = g.name
  .contents--right
    .group-info
      .group-info__name
        = @group.name
      .group-info__members
        = "Members: #{@users.pluck(:name).join(", ")}"
      .group-info__edit-btn
        = link_to "Edit", edit_group_path, id: @group.id
    %ul.message-list
      %li.message-list__item
        .message-list__item--header
          %span.username
            tarou
          %span.date
            2017/01/01 00:00:00
        .message-list__item--body
          %p.text
            good bye world
      %li.message-list__item
        .message-list__item--header
          %span.username
            takashi
          %span.date
            2017/01/01 00:00:00
        .message-list__item--body
          %p.text
            hello world
    .message-input
      .message-input__form
        %input.message-input__form--textarea{name: "text", size: "90", placeholder: "type a message"}
        %i.message-input__form--select-pic.fa.fa-picture-o.fa-lg
        %input.message-input__form--send-btn{type: "submit", value: "Send"}
