.contents
  = render 'chats/left_column'
  .contents--right
    .group-info
      .group-info__name
        = @group.name
      .group-info__members
        = "Members: #{@users.pluck(:name).join(", ")}"
      .group-info__edit-btn
        = link_to "Edit", edit_group_path, id: @group.id
    %ul.message-list
      - @messages.each do |message|
        %li.message-list__item
          .message-list__item--header
            %span.username
              = message.user.name
            %span.date
              = message.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[message.created_at.wday]}) %X") 
          .message-list__item--body
            %p.text
              = message.message
    .message-input
      = form_for [@group, @message], html: { class:"message-input__new_message" }do |f|
        = f.text_field :message, placeholder: "type a message", class: "message-input__new_message--textarea", size: "90"
        %i.message-input__new_message--select-pic.fa.fa-picture-o.fa-lg
        = f.submit "Send", class: "message-input__new_message--submit-btn"
